.header{
  padding: 10px 0;
  background: #000;
  color: #fff;
}
.header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo{
  height: 50px;
  width: auto;
}
.header-menu ul{
  list-style-type: none;
  display: flex;
}
.header-menu ul li a{
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.header-menu ul li a:hover{
  color: #e20750;
}
.sub-header{
  background: #4c0b66;
  padding: 30px 0;
}
#search-field{
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  width: 50%;
  margin: 0 auto;
  display: block;
}
#search-field::placeholder{
  font-size: 13px;
}